.main {
  padding-top: 40px;
  min-height: 80vh;
}

.main__form {
  padding-top: 30px;
  display: flex;
  align-items: center;
  button {
    background: none;
    border: none;
    width: 100px;
    height: 50px;
    background-image: url("../../imgs/dark.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    margin: 0 30px;
  }
  .btn-light {
    background-image: url("../../imgs/light.png");
  }
}
